.post-display {
  text-align: center;
  padding: 0px 120px 0px 120px;
  margin: 0px 150px 0px 150px;
  display: inline-grid;
  background-color: rgb(250, 250, 250);
  font-family: 'Heebo', sans-serif;
}

img {
  padding: 10px 50px 0px 50px;
}
